
:root, :root[data-force-color-mode="light"] {
  --main-bg-color: white;
  --main-text-color: black;
  --topbar-background-color: rgb(150, 150, 150);
  --knowledge-link-text-color: rgb(41, 91, 110);
  --knowledge-content-text-color: black;
  --knowledge-content-background-color: rgb(222, 222, 222);
  --knowledge-content-border-color: black;
  --knowledge-content-shadow-color: #888888;
  --image-invert-amount: .13;
}

/* checks the the system colorscheme */
@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: rgb(30, 30, 30);
    --main-text-color: rgb(220, 220, 220);
    --topbar-background-color: rgb(70, 70, 70);
    --knowledge-link-text-color: rgb(200, 91, 110);
    --knowledge-content-text-color: rgb(220, 220, 220);
    --knowledge-content-background-color: rgb(80, 80, 80);
    --knowledge-content-border-color: white;
    --knowledge-content-shadow-color: rgb(20, 20, 20);
  	--image-invert-amount: 0.68;
  }
}

/* manual override of colorscheme, TODO can duplication be removed ?*/
:root[data-force-color-mode="dark"] { 
    --main-bg-color: rgb(30, 30, 30);
    --main-text-color: rgb(220, 220, 220);
    --topbar-background-color: rgb(70, 70, 70);
    --knowledge-link-text-color: rgb(200, 91, 110);
    --knowledge-content-text-color: rgb(220, 220, 220);
    --knowledge-content-background-color: rgb(80, 80, 80);
    --knowledge-content-border-color: white;
    --knowledge-content-shadow-color: rgb(20, 20, 20);
  	--image-invert-amount: 0.68;
}

/* Visually hide the checkbox and label text  */
#toggle-darkmode {
	display: none;
}

#toggle-darkmode + label > span {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/* Inject Light/Dark Mode Icon (based on checkbox value) */
#toggle-darkmode + label:after {
	font-size: 2em;
	content: "🔆";
}
#toggle-darkmode:checked + label:after {
	content: "🌙";
}

/* general elements */

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

img {
	filter: invert(var(--image-invert-amount))
}

a {
	color: green;
}


/* top bar */

#topbar {
  position: relative; /* so that the button can be placed in the corner */
}

/* content formatting */

.thin-wrapper {
    margin: 0 10%;
}

.centered-content {
  display: block;
  text-align: center;
  margin: 1em;
}

.knowledge-link {
  color: var(--knowledge-link-text-color);
  cursor: pointer;
}


/* custom content styling */

.definition, .lemma, .theorem, .corollary, .proposition, .exercise, .proof {
  display: block;
  /* font-style: italic; */
  /* font-size: 24px; */
  /* font-family: "Times New Roman"; */
  color: var(--knowledge-content-text-color);
  border-radius: 10px;
  background-color: var(--knowledge-content-background-color);
  box-shadow: 5px 10px 8px var(--knowledge-content-shadow-color);
  margin: 1.5em 0 1.5em 0;
  border: 1px solid var(--knowledge-content-border-color);
}



.definition>.title, .lemma>.title, .theorem>.title, .corollary>.title, .proposition>.title, .exercise>.title, .proof>.title {
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 15px;
}

.definition>.content, .lemma>.content, .theorem>.content, .corollary>.content, .proposition>.content, .exercise>.content, .proof>.content {
  padding: 15px 15px 15px 15px;
}

.definition>.title::before {
  content: "definition: "
}

.definition>.title {
  background-color: rgb(38, 38, 134);
}


.theorem>.title::before {
  content: "theorem: "
}

.theorem>.title {
  background-color: rgb(38, 134, 38);
}

.proposition>.title::before {
  content: "proposition: "
}

.proposition>.title {
  background-color: rgb(38, 134, 134);
}

.lemma>.title::before {
  content: "lemma: "
}

.lemma>.title {
  background-color: rgb(134, 38, 38);
}

.corollary>.title::before {
  content: "corollary: "
}

.corollary>.title {
  background-color: rgb(134, 34, 134);
}

.proof>.title::before {
  content: "proof"
}

.proof>.title {
  background-color: black;
}

/* add a tombstone to the end of every opened proof */
.proof details[open]::after {
    content: "□";
    text-align: right;
    display: block;
}

.exercise>.title::before {
  content: "exercise: "
}

.exercise>.title {
  background-color: grey;
}

/* animations */


@keyframes scale-in {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

.opened-knowledge {
  animation: scale-in .2s linear;
  transform-origin: 0 50%;
}
