<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>PAGE TITLE</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="/styles/styles.css">-->
    <link rel="stylesheet" href="/styles/styles.css">
    <!--<script src="/js/scripts.js" defer=""></script>-->
    <script src="/js/scripts.js" defer=""></script>
</head>

<body>
    <div class="thin-wrapper">
        <div id="topbar" class="thin-wrapper">
                <!--<div id="current-path">-->
                <!--</div>-->
            <h1 style="text-align: center;">🏗️ <a href="/">\(\Theta \rho \epsilon \eta \Pi \alpha \tau \pi\)</a>🚧 (under construction)</h1>
            <!--<div style="position: absolute; top: 0; right: 0">-->
            <!--    <input type="checkbox" id="toggle-darkmode" />-->
            <!--    <label for="toggle-darkmode"><span>Toggle Light/Dark Mode</span></label>-->
            <!--    <span id="reset-darkmode" title="Clear Dark Mode Override">🔄</span>-->
            <!--</div>-->
            <!--<button id="edit-page-button">edit this page</button>-->
        </div>

        CONTENT
        
    </div>
</body>
</html>
