<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/js/Temml-0.13.02/dist/Temml-Latin-Modern.css">
    <link rel="stylesheet" href="/static/styles/openmath.css">
    <script src="/static/js/proof-toggle.js" defer></script>
    <script src="/static/js/knowledge-links.js" defer></script>
    <script src="/static/js/copy-knowledge-links.js" defer></script>
</head>
<body>
    <div class="thin-wrapper">
        <header id="topbar">
            <h1><a href="/" aria-label="OpenMath"><math display="inline" xmlns="http://www.w3.org/1998/Math/MathML"><mrow><mi>&#x0398;</mi><mi>&#x03C1;</mi><mi>&#x03F5;</mi><mi>&#x03B7;</mi><mi>&#x03A0;</mi><mi>&#x03B1;</mi><mi>&#x03C4;</mi><mi>&#x03C0;</mi></mrow></math></a></h1>
        </header>
        <main>
{{content}}
        </main>
    </div>
</body>
</html>
