<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/js/Temml-0.13.02/Temml-0.13.02/dist/Temml-Latin-Modern.css">
    <link rel="stylesheet" href="/static/styles/openmath-minimal.css">
    <script src="/static/js/proof-toggle.js" defer></script>
    <script src="/static/js/knowledge-links.js" defer></script>
</head>
<body>
    <div class="thin-wrapper">
        <header id="topbar">
            <h1><a href="/">OpenMath Redux</a></h1>
        </header>
        <main>
{{content}}
        </main>
    </div>
</body>
</html>
