<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>PAGE TITLE</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/math-fonts/LatinModern/mathfonts.css">
    <script src="/js/scripts.js" defer></script>

    <!-- search stuff -->
    <script src="/js/search/fuzzysort.js" defer></script>
    <script src="/js/search/search_callbacks.js" defer></script>
    <script src="/js/search/search_list.js" defer></script>
    <script src="/js/search/search.js" defer></script>

    <link id="theme-stylesheet" rel="stylesheet" href="/js/search/dark_theme.css"> <!-- Change to dark_theme.css for dark theme -->
    <link rel="stylesheet" href="/js/search/search.css">
</head>

<body>
    <div class="thin-wrapper">
        <div id="topbar" class="thin-wrapper">
                <!--<div id="current-path">-->
                <!--</div>-->
            <h1 style="text-align: center;">🏗️ <a href="/">\(\Theta \rho \epsilon \eta \Pi \alpha \tau \pi\)</a>🚧 (under construction)</h1>
            <!--<div style="position: absolute; top: 0; right: 0">-->
            <!--    <input type="checkbox" id="toggle-darkmode" />-->
            <!--    <label for="toggle-darkmode"><span>Toggle Light/Dark Mode</span></label>-->
            <!--    <span id="reset-darkmode" title="Clear Dark Mode Override">🔄</span>-->
            <!--</div>-->
            <!--<button id="edit-page-button">edit this page</button>-->
        </div>

        CONTENT

        <div id="searchModal" class="modal">
            <div class="modal-content">
                <input type="text" id="searchInput" placeholder="Search...">
                <ul id="results"></ul>
            </div>
        </div>

    </div>
</body>
</html>
