.thin-wrapper {
    margin: 10%;
}

.definition {
  display: block;
  /* font-style: italic; */
  /* font-size: 24px; */
  /* font-family: "Times New Roman"; */
  color: black;
  border-radius: 10px;
  background-color: rgb(222,222,231);
  box-shadow: 5px 10px 8px #888888;
  margin: 1em 0 1em 0;
}

.definition .title {
  font-weight: bold;
  font-style: normal;
  display: inline-block;
  width: -webkit-fill-available;
  color: white;
  border-radius: 10px 10px 0 0;
  padding: 10px 5px 5px 15px;
  background-color: rgb(38, 38, 134);
}

.definition .title h3 {
  margin: 0;
}

.definition .content {
  padding: 15px 15px 15px 15px;
}